html {
    background-color: #222222;
    color: white;
}


.Calculated {
    background-color: #111111;
    width:fit-content;
    padding: 16px
}

.Calculated label {
    text-decoration: underline;
    text-decoration-color: white;
}

input {
    color: white;
    background-color: #222;
    margin: 8px;
    padding: 4px;
}

.Field {
    background-color: #222;
    width: fit-content;
    padding: 4px;
    margin: 8px;
}